<!-- header bar -->
<div class="bg-light p-3 mb-4 rounded">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="m-0">A guide to common espresso-based drinks</h2>
    <div class="dropdown">
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        id="learnDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Learn: Beverages
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="/">Home</a></li>
        <li><a class="dropdown-item" href="/learn">Learn</a></li>
        <li><a class="dropdown-item" href="/quiz">Quiz</a></li>
      </ul>
    </div>
  </div>
</div>
