{% extends "base.html" %}
{% block content %}
{% include 'banner.html' %}
<div class="learn-components-container">
    <div class="button-row">
        {% for lesson in lessons %}
            <button class="learn-btn" onclick="showComponent({{ loop.index0 }})" id="btn-{{ loop.index0 }}">{{ lesson.title }}</button>
        {% endfor %}
    </div>
    <div id="learnPanel" class="learn-panel" style="display:none;">
        <img id="componentGif" src="" alt="Component GIF">
        <div class="learn-desc">
            <h2 id="componentTitle"></h2>
            <p id="componentDesc"></p>
        </div>
        <span class="close-btn" onclick="closePanel()">X</span>
    </div>
    <div class="text-end mt-4">
        <button class="btn btn-secondary" id="continueBtn" disabled>Click all components to continue</button>
    </div>
</div>
<script>
    // Pass data from Flask to JS
    const lessons = {{ lessons|tojson|default('[]', true) }};
</script>
<script src="{{ url_for('static', filename='js/learn_components.js') }}"></script>
{% endblock %}